* {
  margin: 0px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing {
  max-width:800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

#landing * {
  padding: 0px;
  margin: 5px 0;
}

#color1, #color2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
input[type="color"]::-webkit-color-swatch {
	border: none;
}