* {
  margin: 0px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bookmarks {
  position: fixed;
  top: 5px;
  left: 5px;
  width: auto;
  padding: 0 5px;
  display: none;
  background: #e9ecef;
  border-radius: 5px;
  list-style: transparent;
}

  .bookmark {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin: 5px 0px;
}

.bookmark:hover {
  transform: scale(1.1);
  cursor: pointer;  
}

#landing {
  max-width:800px;
  width: auto;
  padding: 0px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

#landing * {
  padding: 0px;
  margin: 0px;
}

#color1, #color2 {
}



#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;

}

#result h4 {
  margin: 0 15px;
}

#random-gradient-button, #bookmark-gradient-button {
  width: auto;
  min-width: 80px;
  background: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 30px;
  padding: 0 10px;
}

#random-gradient-button:hover {
  background: lightblue;
  /* color: white; */
}

#bookmark-gradient-button:hover {
  background: lightblue;
  /* color: white; */
}

#gradient-string {
  width: auto;
  min-width: 500px;
  text-align: center;
  border-style: none;
  
}

#gradient-string:hover {
  background: lightgreen;
  cursor: pointer;  
}